# Homework 1

In [39]:
import pandas as pd

df = pd.read_csv("List_of_Orders.csv")

In [40]:
# determine the number of rows and columns in the data
df.shape

(500, 5)

In [41]:
# display a small sample of the data
# before
df.head(15)

   Order_ID  Order_Date CustomerName              State                City
0   B-25601    1/4/2018       Bharat            Gujarat           Ahmedabad
1   B-25602    1/4/2018        Pearl        Maharashtra                Pune
2   B-25603    3/4/2018        Jahan     Madhya Pradesh              Bhopal
3   B-25604    3/4/2018       Divsha          Rajasthan              Jaipur
4   B-25605    5/4/2018      Kasheen        West Bengal             Kolkata
5   B-25606    6/4/2018        Hazel          Karnataka           Bangalore
6   B-25607    6/4/2018     Sonakshi  Jammu and Kashmir             Kashmir
7   B-25608    8/4/2018      Aarushi         Tamil Nadu             Chennai
8   B-25609    9/4/2018       Jitesh      Uttar Pradesh             Lucknow
9   B-25610    9/4/2018       Yogesh              Bihar               Patna
10  B-25611   11/4/2018        Anita            Kerala   Thiruvananthapuram
11  B-25612   12/4/2018    Shrichand             Punjab          Chandigarh
12  B-25613   12/4/2018       Mukesh            Haryana          Chandigarh
13  B-25614  13-04-2018      Vandana   Himachal Pradesh               Simla
14  B-25615  15-04-2018       Bhavna             Sikkim             Gangtok

In [42]:
# create new dataframe
df['OrderDate'] = pd.to_datetime(df.Order_Date)

# display day name
df['day of the week'] = df.OrderDate.dt.day_name()

# display 15 rows
df['day of the week'].head(15)

0     Thursday
1     Thursday
2       Sunday
3       Sunday
4       Friday
5       Monday
6       Monday
7     Saturday
8      Tuesday
9      Tuesday
10      Sunday
11     Tuesday
12     Tuesday
13      Friday
14      Sunday
Name: day of the week, dtype: object

In [43]:
# after
df.head(15)

,Order_ID,Order_Date,CustomerName,State,City,OrderDate,day of the week
0,B-25601,1/4/2018,Bharat,Gujarat,Ahmedabad,2018-01-04,Thursday
1,B-25602,1/4/2018,Pearl,Maharashtra,Pune,2018-01-04,Thursday
2,B-25603,3/4/2018,Jahan,Madhya Pradesh,Bhopal,2018-03-04,Sunday
3,B-25604,3/4/2018,Divsha,Rajasthan,Jaipur,2018-03-04,Sunday
4,B-25605,5/4/2018,Kasheen,West Bengal,Kolkata,2018-05-04,Friday
5,B-25606,6/4/2018,Hazel,Karnataka,Bangalore,2018-06-04,Monday
6,B-25607,6/4/2018,Sonakshi,Jammu and Kashmir,Kashmir,2018-06-04,Monday
7,B-25608,8/4/2018,Aarushi,Tamil Nadu,Chennai,2018-08-04,Saturday
8,B-25609,9/4/2018,Jitesh,Uttar Pradesh,Lucknow,2018-09-04,Tuesday
9,B-25610,9/4/2018,Yogesh,Bihar,Patna,2018-09-04,Tuesday
10,B-25611,11/4/2018,Anita,Kerala,Thiruvananthapuram,2018-11-04,Sunday
11,B-25612,12/4/2018,Shrichand,Punjab,Chandigarh,2018-12-04,Tuesday
12,B-25613,12/4/2018,Mukesh,Haryana,Chandigarh,2018-12-04,Tuesday
13,B-25614,13-04-2018,Vandana,Himachal Pradesh,Simla,2018-04-13,Friday
14,B-25615,15-04-2018,Bhavna,Sikkim,Gangtok,2018-04-15,Sunday